################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs
/ConsoleApplication1/x64/Debug
/x64/Release
/Release
/Debug
/ConsoleApplication1/x64/Release
/ConsoleApplication1/Release
/ConsoleApplication1/Debug
